parameters:
  - name: ContinueEvenIfResourcesAreGettingDestroyed
    type: boolean
    default: false
  - name: AzureSubscription
    type: string
  - name: TerraformKeyVault
    type: string
  - name: APIMResourceGroup
    type: string
  - name: APIMServiceInstance
    type: string
  - name: tfstateStorageAccountName
    type: string

steps:
  - task: AzureKeyVault@2
    displayName: 'Read APIM terraform Variables'
    inputs:
      azureSubscription: "${{ parameters.AzureSubscription }}"
      KeyVaultName: "${{ parameters.TerraformKeyVault }}"
      SecretsFilter: '*'
      RunAsPreJob: false

  - task: PowerShell@2
    name: APIMDeployment
    displayName: "terraform APIM deployment"
    inputs:
      targetType: filePath
      filePath: '$(Pipeline.Workspace)/terraformartifact/terraform_conditional_run_apim.ps1'
      arguments: '-deploymentResourceGroupName ${{ parameters.APIMResourceGroup }} -deploymentStorageAccountName ${{ parameters.tfstateStorageAccountName }} -workSpace $(Environment) -continueEvenIfResourcesAreGettingDestroyed $${{ parameters.ContinueEvenIfResourcesAreGettingDestroyed }}'
    # env:

