parameters:
  - name: AzureSubscription
    type: string

steps:
  - task: FileTransform@2
    displayName: "File Transform: API Service Application Settings"
    inputs:
      folderPath: '$(Pipeline.Workspace)/UKHOShopFacadeServiceAPI/*.zip'
      xmlTransformationRules:
      jsonTargetFiles: '**/appsettings.json'

  - task: AzureWebApp@1
    displayName: "Deploy to ShopFacade API Service"
    inputs:
      azureSubscription: "${{ parameters.AzureSubscription }}" 
      appType: 'webAppLinux'
      appName: "$(WEB_APP_NAME)"  
      package: "$(Pipeline.Workspace)/UKHOShopFacadeServiceAPI/UKHOShopFacadeServiceAPI.zip"

  - task: FileTransform@2
    displayName: "File Transform: Mock Service Application Settings"
    condition: and(succeeded(), eq(variables['Environment.Name'], 'ShopFacade-Dev'))
    inputs:
      folderPath: '$(Pipeline.Workspace)/UKHOShopFacadeMockServiceAPI/*.zip'
      xmlTransformationRules: ''
      jsonTargetFiles: '**/appsettings.json'


  - task: AzureWebApp@1
    displayName: "Deploy to ShopFacade Mock API Service"
    condition: and(succeeded(), eq(variables['Environment.Name'], 'ShopFacade-Dev'))
    inputs:
      azureSubscription: "${{ parameters.AzureSubscription }}" 
      appType: 'webAppLinux'
      appName: "$(MOCK_WEB_APP_NAME)"  
      package: "$(Pipeline.Workspace)/UKHOShopFacadeMockServiceAPI/UKHOShopFacadeMockServiceAPI.zip"
