parameters:
  - name: AzureSubscription
    type: string

steps:
  - task: FileTransform@1
    displayName: "File Transform: WebAppSettings"
    inputs:
      folderPath: '$(Pipeline.Workspace)/UKHOShopFacadeServiceAPI/*.zip'
      fileType: 'json'
      targetFiles: '**/appsettings.json'

  - task: AzureWebApp@1
    displayName: "Deploy to Linux Web App"
    inputs:
      azureSubscription: $(AzureSubscription)  
      appType: 'webAppLinux'
      appName: $(WEB_APP_NAME)  
      package: $(Pipeline.Workspace)/UKHO.ShopFacade.API/UKHOShopFacadeServiceAPI.zip 
