parameters:
  - name: AzureSubscription
    type: string

steps:
  - task: FileTransform@2
    displayName: "File Transform: Mock Service Application Settings"
    condition: and(succeeded(), eq(variables['Environment.Name'], 'ShopFacade-Dev'))
    inputs:
      folderPath: '$(Pipeline.Workspace)/UKHOShopFacadeMockServiceAPI/*.zip'
      xmlTransformationRules: ''
      jsonTargetFiles: '**/appsettings.json'

  - task: AzureWebApp@1
    displayName: "Deploy to ShopFacade Mock API Service"
    condition: and(succeeded(), eq(variables['Environment.Name'], 'ShopFacade-Dev'))
    inputs:
      azureSubscription: "${{ parameters.AzureSubscription }}" 
      appType: 'webAppLinux'
      appName: "$(MOCK_WEB_APP_NAME)"  
      package: "$(Pipeline.Workspace)/UKHOShopFacadeMockServiceAPI/UKHOShopFacadeMockService.zip"

  - task: FileTransform@1
    displayName: "File Transform: WebAppSettings"
    inputs:
      folderPath: '$(Pipeline.Workspace)/UKHOShopFacadeServiceAPI/*.zip'
      fileType: 'json'
      xmlTransformationRules: ''
      targetFiles: '**/appsettings.json'
           
  - task: AzureWebApp@1
    displayName: "Azure App Deploy: Staging slot"
    inputs:
      azureSubscription: "${{ parameters.AzureSubscription }}"
      appType: 'webAppLinux'
      appName: "$(WEB_APP_NAME)"
      package: "$(Pipeline.Workspace)/UKHOShopFacadeServiceAPI/UKHOShopFacadeServiceAPI.zip"
      deployToSlotOrASE: true
      slotName: $(WEB_APP_SLOT_NAME)

  - task: PowerShell@2
    displayName: "Check the status of staging slot"
    inputs:
      targetType: filePath
      filePath: "$(Pipeline.Workspace)/terraformartifact/check_service_status.ps1"
      arguments: "-healthEndPointUrl https://$(WEB_APP_SLOT_HOST_NAME)/health -waitTimeInMinute $(waitTimeInMinute)"

  - task: AzureAppServiceManage@0
    displayName: "Swap with production slot"
    inputs:
      azureSubscription: "${{ parameters.AzureSubscription }}"
      resourceGroupName: $(ResourceGroup)
      webAppName: $(WEB_APP_NAME)
      action: "Swap Slots"
      swapWithProduction: true
      sourceSlot: $(WEB_APP_SLOT_NAME)

  - task: PowerShell@2
    displayName: "Check the status of production slot"
    inputs:
      targetType: filePath
      filePath: "$(Pipeline.Workspace)/terraformartifact/check_service_status.ps1"
      arguments: "-healthEndPointUrl $(ShopFacadeConfiguration.BaseUrl)/health -waitTimeInMinute $(waitTimeInMinute)"
