parameters:
  - name: AzureSubscription
    type: string

steps:
  - task: FileTransform@2
    displayName: "File Transform: Mock Service Application Settings"
    condition: and(succeeded(), eq(variables['Environment.Name'], 'ShopFacade-Dev'))
    inputs:
      folderPath: '$(Pipeline.Workspace)/UKHOShopFacadeMockServiceAPI/*.zip'
      xmlTransformationRules: ''
      jsonTargetFiles: '**/appsettings.json'

  - task: AzureWebApp@1
    displayName: "Deploy to ShopFacade Mock API Service"
    condition: and(succeeded(), eq(variables['Environment.Name'], 'ShopFacade-Dev'))
    inputs:
      azureSubscription: "${{ parameters.AzureSubscription }}" 
      appType: 'webAppLinux'
      appName: "$(MOCK_WEB_APP_NAME)"  
      package: "$(Pipeline.Workspace)/UKHOShopFacadeMockServiceAPI/UKHOShopFacadeMockService.zip"

  # - task: PowerShell@2
  #   displayName: "Extract Artifact ZIP"
  #   condition: and(succeeded(), eq(variables['Environment.Name'], 'ShopFacade-Dev'))
  #   inputs:
  #     targetType: "inline"
  #     script: |
  #       $artifactPath = "$(Pipeline.Workspace)/UKHOADDSMockService"  # Path where artifact is downloaded
  #       $zipFile = Get-ChildItem -Path $artifactPath -Filter "*.zip" | Select-Object -First 1
  #       if ($zipFile) {
  #           Write-Host "Extracting: $($zipFile.FullName)"
  #           Expand-Archive -Path $zipFile.FullName -DestinationPath $artifactPath -Force
  #           Write-Host "Extraction completed!"
  #       } else {
  #           Write-Host "No ZIP file found in artifact!"
  #           exit 1
  #       }

  # - task: PowerShell@2
  #   displayName: "Set overrideconfigurationpath and configurationpath pipeline variables"
  #   condition: and(succeeded(), eq(variables['Environment.Name'], 'ShopFacade-Dev'))
  #   inputs:
  #     targetType: 'inline'
  #     script: |
  #       # Find the service-configuration folder
  #       $serviceConfigurationFolder = Get-ChildItem -Path "$(Pipeline.Workspace)/UKHOADDSMockService" -Recurse -Directory | Where-Object { $_.Name -eq "service-configuration" }

  #       if ($serviceConfigurationFolder) {
  #           $serviceConfigPath = $serviceConfigurationFolder.FullName
  #           Write-Host "Found service-configuration folder: $serviceConfigPath"
  #           Write-Host "##vso[task.setvariable variable=configurationpath]$serviceConfigPath"
  #       } else {
  #           Write-Host "Error: service-configuration folder not found!"
  #           exit 1  # Fail pipeline if folder is missing
  #       }

  #       # Find the override-configuration folder
  #       $overrideConfigurationFolder = Get-ChildItem -Path "$(Pipeline.Workspace)/UKHOADDSMockService" -Recurse -Directory | Where-Object { $_.Name -eq "override-configuration" }

  #       if ($overrideConfigurationFolder) {
  #           $overrideConfigPath = $overrideConfigurationFolder.FullName
  #           Write-Host "Found override-configuration folder: $overrideConfigPath"
  #           Write-Host "##vso[task.setvariable variable=overrideconfigurationpath]$overrideConfigPath"
  #       } else {
  #           Write-Host "Error: override-configuration folder not found!"
  #           exit 1  # Fail pipeline if folder is missing
  #       }

  #       # Output confirmation
  #       Write-Host "service-configuration is set to: $serviceConfigPath"
  #       Write-Host "override-configuration is set to: $overrideConfigPath"

  - task: FileTransform@2
    displayName: "File Transform: ADDS Mock Service Application Settings"
    condition: and(succeeded(), eq(variables['Environment.Name'], 'ShopFacade-Dev'))
    inputs:
      folderPath: '$(Pipeline.Workspace)/UKHOADDSMockService/*.zip'
      xmlTransformationRules: ''
      jsonTargetFiles: '**/mock-configuration.json'

  # - task: AzureCLI@2
  #   displayName: "View mock-configuration.json"
  #   inputs:
  #     azureSubscription: "${{ parameters.AzureSubscription }}"
  #     scriptType: bash
  #     scriptLocation: inlineScript
  #     inlineScript: |
  #       instance=$(az webapp list-instances --resource-group $(ResourceGroup) --name $(ADDS_MOCK_WEB_APP_NAME) --query "[0].id" -o tsv)
  #       az webapp ssh --ids $instance --command "find /home -type d -name 'service-configuration'"  
  #       cat '$(Pipeline.Workspace)/UKHOADDSMockService/mock-configuration.json'

  - task: AzureWebApp@1
    displayName: "Deploy to ShopFacade ADDS Mock"
    condition: and(succeeded(), eq(variables['Environment.Name'], 'ShopFacade-Dev'))
    inputs:
      azureSubscription: "${{ parameters.AzureSubscription }}" 
      appType: 'webAppLinux'
      appName: "$(ADDS_MOCK_WEB_APP_NAME)"  
      package: "$(Pipeline.Workspace)/UKHOADDSMockService/UKHOADDSMockService.zip"

  - task: FileTransform@2
    displayName: "File Transform: WebAppSettings"
    inputs:
      folderPath: '$(Pipeline.Workspace)/UKHOShopFacadeServiceAPI/*.zip'
      xmlTransformationRules: ''
      jsonTargetFiles: '**/appsettings.json'
           
  - task: AzureWebApp@1
    displayName: "Azure App Deploy: Staging slot"
    inputs:
      azureSubscription: "${{ parameters.AzureSubscription }}"
      appType: 'webAppLinux'
      appName: "$(WEB_APP_NAME)"
      package: "$(Pipeline.Workspace)/UKHOShopFacadeServiceAPI/UKHOShopFacadeServiceAPI.zip"
      deployToSlotOrASE: true
      slotName: $(WEB_APP_SLOT_NAME)

  - task: PowerShell@2
    displayName: "Check the status of staging slot"
    inputs:
      targetType: filePath
      filePath: "$(Pipeline.Workspace)/terraformartifact/check_service_status.ps1"
      arguments: "-healthEndPointUrl https://$(WEB_APP_SLOT_HOST_NAME)/health -waitTimeInMinute $(waitTimeInMinute)"

  - task: AzureAppServiceManage@0
    displayName: "Swap with production slot"
    inputs:
      azureSubscription: "${{ parameters.AzureSubscription }}"
      resourceGroupName: $(ResourceGroup)
      webAppName: $(WEB_APP_NAME)
      action: "Swap Slots"
      swapWithProduction: true
      sourceSlot: $(WEB_APP_SLOT_NAME)

  - task: PowerShell@2
    displayName: "Check the status of production slot"
    inputs:
      targetType: filePath
      filePath: "$(Pipeline.Workspace)/terraformartifact/check_service_status.ps1"
      arguments: "-healthEndPointUrl $(ShopFacadeConfiguration.BaseUrl)/health -waitTimeInMinute $(waitTimeInMinute)"
