parameters:
  - name: ContinueEvenIfResourcesAreGettingDestroyed
    type: boolean
    default: false
  - name: AzureSubscription
    type: string
  
steps:
  # - task: FileTransform@2
  #   displayName: "File Transform: Shop Facade Config" Replace exchange set instance value from pipeline 
  #   inputs:
  #     folderPath: '$(Pipeline.Workspace)/terraformartifact/src'
  #     enableXmlTransform: false
  #     xmlTransformationRules: ''
  #     jsonTargetFiles: '**/appsettings.json'

   - task: AzureCLI@2
     displayName: 'Azure CLI login'
     inputs:
     azureSubscription: '$${{ parameters.AzureSubscription}}'
     scriptType: 'ps'
     scriptLocation: 'inlineScript'
     inlineScript: 'az login --service-principal -u $(ARM_CLIENT_ID) -p $(ARM_CLIENT_SECRET) --tenant $(ARM_TENANT_ID)'

  # - task: PowerShell@2
  #   displayName: "Terraform deployment"
  #   inputs:
  #     targetType: filePath
  #     filePath: '$(Pipeline.Workspace)/terraformartifact/terraform_conditional_run.ps1'
  #     arguments: '-deploymentResourceGroupName $(DeploymentResourceGroupName) -deploymentStorageAccountName $(DeploymentStorageAccountName) -workSpace $(Environment) -continueEvenIfResourcesAreGettingDestroyed $${{ parameters.ContinueEvenIfResourcesAreGettingDestroyed }} -terraformJsonOutputFile $(Pipeline.Workspace)/terraformartifact/terraform_output.json'
  #     script: |
  #                 Log in to Azure using environment variables
  #                az login --service-principal -u $env:ARM_CLIENT_ID -p $env:ARM_CLIENT_SECRET --tenant $env:ARM_TENANT_ID
  #                az account set --subscription $env:ARM_SUBSCRIPTION_ID

      env:
      ARM_CLIENT_ID: $(TERRAFORM-CLIENT-ID)
      ARM_CLIENT_SECRET: $(TERRAFORM-CLIENT-SECRET)
      ARM_TENANT_ID: $(TERRAFORM-TENANT-ID)
      ARM_SUBSCRIPTION_ID: $(TERRAFORM-SUBSCRIPTION-ID)
      ARM_ACCESS_KEY: $(TERRAFORM-ACCESS-KEY)
      TF_VAR_ARM_OBJECT_ID: $(TERRAFORM-CLIENT-OBJECT-ID)
